<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>人流量警报管理</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet"> 
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="/static/js/bootstrap.js"></script>
</head>
<body>
    <meta http-equiv="refresh">
<h1 class="text-center">人流量警报管理</h1>
<form enctype="multipart/form-data">
    <input type="text" name="user" value="请输入监控地点信息"/>
    
<div class="container">
    <div class="col-md-8 col-md-offset-2">
       <table class="table table-hover">
           <thead>
               <tr>
                   <th>编号</th>
                   <th>警报id</th>
                   <th>警报时间</th>
                   <th>警报类型</th>
                   <th>警报区域</th>
                   <th>警报描述</th>
                   <th>摄像头id</th>
                   <th>状态</th>
               </tr>
           </thead>
           <tbody>
            <meta http-equiv="refresh" content="2">
               {% for item in data %} 
               <tr>
                   <td>{{ item.id }}</td>
                   <td>{{ item.warn_id }}</td>
                   <td>{{ item.warn_time }}</td>
                   <td>{{ item.warn_type }}</td>
                   <td>{{ item.warn_area }}</td>
                   <td>{{ item.warn_description }}</td>
                   <td>{{ item.camera_id }}</td>
                   <td>{{ item.info }}</td>
                   
                   <td>
                       <a href="/app/delete/?num={{ item.id }}" class="btn btn-xs btn-danger">处理</a>
                   </td>
               </tr>
               <meta http-equiv="refresh" content="10">
                {% endfor %}
           </tbody>
       </table>
    </div>
</div>
</body>
</html>